.main {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  font-size: 1.5rem;
  justify-content: space-between;
  width: 95%;
  margin: 15 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}

.buttonPrincipal {
  padding: 0 15px;
  height: 50px;
}

.body {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.esquerda {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--cor--cinza-claro);
  color: var(--cor--cinza-escuro);
  align-items: center;
  width: 250px;
  border-radius: 5px;
  padding: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}
