:root {
  --cor--gelo: #efefef;

  --cor--cinza-claro: #a5a5a5;
  --cor--cinza: #2a2a2a;
  --cor--cinza-escuro: #121212;

  --cor--verde-claro: #b2f599;
  --cor--verde: #78e45d;
  --cor--verde-escuro: #4a9f38;

  --cor--roxo-claro: #d966ff;
  --cor--roxo: #7b0097;
  --cor--roxo-escuro: #4d0061;

  --font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.descricaoOla {
  display: flex;
  margin: 0 auto;
  padding-left: 20px;

  margin-top: 60px;
  width: 75%;
  font-size: 3rem;
  font-weight: 100;
}

.descricao {
  display: flex;
  margin: 0 auto;

  margin-top: 10px;
  width: 75%;
  font-size: 2rem;
  font-weight: 100;
}

.descricaoMobile {
  display: none;
}

.searchTab {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px 0;
}

.searchContent {
  border: 2px solid var(--cor--cinza-claro);
  border-radius: 3px;
  max-width: 40rem;
  padding: 10px;
}

.searchContent:focus-within {
  border-color: var(--cor--verde);
}

.searchContent:focus-within .fa-search {
  color: var(--cor--roxo-claro);
}

.searchBar {
  background-color: transparent;
  color: var(--cor--gelo);
  border: none;
  outline: none;
  font-size: 2rem;
}

.searchBar::placeholder {
  color: var(--cor--cinza-claro);
  font-size: 2rem;
}
.searchBtn {
  all: unset;
  cursor: pointer;
}

.faSearch {
  background-color: transparent;
  border: none;
  color: var(--cor--verde);
  font-size: 2rem;
  margin-left: 10px; /* Ajuste opcional para alinhamento */
}

.boxPosts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0;
  align-items: center;
}

.pageTitle {
  font-family: var(--font);
  font-size: 5rem;
  font-weight: 100;
}

.boxCards {
  width: 100%;
  margin-top: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 20px;
}

.postCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 40px;
  width: 300px;

  cursor: pointer;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 140px;

  padding: 20px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease;
  font-family: var(--font);
  text-align: center;
  color: var(--cor--gelo);
}

.titleText {
  font-family: var(--font);
  font-size: 2rem;
}

.categoryText {
  font-family: var(--font);
  font-size: 1.3rem;
}

.readMoreText {
  font-family: var(--font);
  font-size: 1.5rem;
}

.readMore {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 38px;
  border-radius: 0 0 15px 15px;

  background-color: var(--cor--verde-claro);
  color: var(--cor--cinza-escuro);
}

.postCard:hover .cardInfo {
  filter: brightness(0.7);
  color: var(--cor--gelo);
}

.postCard:hover .readMore {
  background-color: var(--cor--verde-escuro);
  color: var(--cor--verde-claro);
}

@media (max-width: 600px) {
  .descricaoOla,
  .descricao {
    display: none;
  }
  .descricaoMobile {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    font-weight: 100;
    text-align: center;
    font-size: 1.8rem;
  }

  .pageTitle {
    font-size: 3.5rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 20px;
  }

  .postCard {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 300px;
  }

  .titleText {
    font-family: var(--font);
    font-size: 1.8rem;
    font-weight: 400;
  }

  .categoryText {
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .readMoreText {
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 600;
  }
}
